html {
	--main-color: #282c34;
	--main-off-color: white;
	--accent-color: #61dafb;
	--highlight-color: #1f8ead;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align: center;
	background-color: var(--main-color);
	min-height: 99vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--main-off-color);
	overflow: hidden;
}

#root {
	width: 100vw;
	height: 100vh;
}

button, .Button {
	font-size: calc(10px + 2vmin);
	display: inline-block;
	background-image: radial-gradient(var(--highlight-color), var(--main-color));
	padding: 0.5em 1em;
	color: var(--main-off-color);
	border: 1px solid var(--main-off-color);
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
	cursor: pointer;
	transition: all .5s;
	height: 1em;
}

button:hover, button:focus, .Active, .Button:hover, .Button:focus {
	filter: invert(90%);
}

button:active {
	background-color: var(--main-color);
	color: var(--accent-color);
	transition: all 0.1s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
