.Card {
	display: flex;
	margin: 1%;
	background-color: var(--main-color);
	color: var(--main-off-color);
	border-radius: 10px;
	box-shadow: 0px 0px 7px var(--accent-color);
	transition: filter 1s;
	text-decoration: none;
	height: 210px;
	width: 550px;
}

.Card:hover, .Card:focus {
	filter: sepia(60%);
}

.Portrait {
	width: 15vw;
	max-width: 210px;
	height: 210px;
	border-radius: 10px;
}

.CardBody {
	list-style: none;
}
