.Card {
	display: flex;
	margin: 1%;
	background-color: var(--main-color);
	color: white;
	border-radius: 10px;
	box-shadow: 0px 0px 7px var(--accent-color);
	transition: filter 1s;
}

.Card:hover {
	filter: sepia(60%);
}

.Portrait {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
}

.CardBody {
	list-style: none;
}
