.Island {
	background-color: var(--main-color);
	border-radius: 10px;
	box-shadow: 0px 0px 7px var(--accent-color);
	padding: 5px;
	margin: 5px;
	display: grid;
	grid-template-columns: 256px 128px auto;
	grid-template-rows: 128px 128px;
	grid-gap: 5px;
}

.Bio {
	border-radius: 10px;
	box-shadow: 0px 0px 7px var(--accent-color);
}

.Portrait {
	grid-column: 1;
}

.AllianceLogo {
	grid-column: 2 ;
	grid-row: 1 / 1;
}

.CorpLogo {
	grid-column: 2;
	grid-row: 2 / 2;
}

.Data {
	grid-column: 3;
	list-style: none;
}
