a.Nav, img.Nav {
	padding: 0.5em 1em;
	margin: 0;
	text-decoration: none;
	border: unset;
	border-bottom: solid 4px var(--highlight-color);
	cursor: pointer;
}

.Item {
	list-style-type: none;
	display: inline-block;
}
