.NavBar {
	margin-top: 2em;
}

.Splash {
	background-color: var(--main-color);
	z-index: 1;
	position: sticky;
	top: 0; left: 25%;
	height: 10vh;
}

.NavBar > * {
	margin: 0px;
	border-radius: 0;
}

a:first-child {
	border-radius: 5px 0  0 5px;
}

a:last-child {
	border-radius: 0 5px 5px 0;
}
